<% canva.mask_requests.complete.order(created_at: :desc).each do |mask_request| %>
  <% if mask_request.main_view.attached? %>
   <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
  <div
    class="
      bg-white rounded-2xl shadow-2xl border border-gray-100 p-6 sm:p-8
      md:p-10 space-y-6 md:space-y-10
    "
  >
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2">
      <div class="flex flex-col">
        <h3 class="text-2xl md:text-4xl font-extrabold leading-tight text-secondary">
          Results for <%= mask_request.preset.humanize %> Style Design
        </h3>
        <h4 class="text-base font-medium text-gray-500"><%= mask_request.user_error %></h4>
      </div>

      </div>

    <div
      class="flex flex-wrap justify-start gap-3"
      data-controller="turbo-method"
    >
      <%= link_to "Brush Edit", new_canva_mask_request_path(mask_request.canva), class: "cute-btn btn-secondary" %>
      <%= link_to "New Design", new_canva_path, class: "cute-btn btn-primary" %>
      <%= link_to "Change Style", edit_mask_request_path(mask_request, manual: true), class: "cute-btn !bg-accent-secondary !text-gray-800" %>
      <%= link_to "Text Edit", new_text_request_path(signed_blob_id:  mask_request.main_view.blob.signed_id), class: "cute-btn btn-accent" %>
    </div>

    <hr class="border-t border-neutral-200">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
      <% if mask_request.main_view.attached? %>
        <div
          class="
            group relative overflow-hidden rounded-lg shadow-xl
            transition-all duration-300 transform hover:-translate-y-1 hover:shadow-2xl
          "
        >
          <%= image_tag(mask_request.main_view.variant(resize_to_limit: [500, 500]), loading: :lazy, class: "w-full max-h-[400px] object-cover transition-transform duration-500 group-hover:scale-[1.02]") %>
          <div
            class="
              absolute inset-0 bg-gradient-to-t from-black/80 via-transparent
              to-transparent
            "
          ></div>

          <div class="absolute bottom-3 left-4 right-4 text-white">
            <p class="text-sm font-medium opacity-80">Main Shot</p>
          </div>

          <div class="absolute bottom-3 right-4 z-10 flex space-x-2">
            <%= link_to rails_blob_path(mask_request.main_view, disposition: :attachment), class: "icon-btn bg-white/20 hover:bg-white/40 text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "download")) %>
            <% end %>
            <%= link_to new_text_request_path(signed_blob_id:  mask_request.main_view.blob.signed_id), class: "icon-btn bg-accent/90 hover:bg-accent text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "pencil")) %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if mask_request.rotated_view.attached? %>
        <div
          class="
            group relative overflow-hidden rounded-lg shadow-xl
            transition-all duration-300 transform hover:-translate-y-1 hover:shadow-2xl
          "
        >
          <%= image_tag(mask_request.rotated_view.variant(resize_to_limit: [500, 500]), loading: :lazy, class: "w-full max-h-[400px] object-cover transition-transform duration-500 group-hover:scale-[1.02]") %>
          <div
            class="
              absolute inset-0 bg-gradient-to-t from-black/80 via-transparent
              to-transparent
            "
          ></div>

          <div class="absolute bottom-3 left-4 right-4 text-white">
            <p class="text-sm font-medium opacity-80">Rotated View</p>
          </div>

          <div class="absolute bottom-3 right-4 z-10 flex space-x-2">
            <%= link_to rails_blob_path(mask_request.rotated_view, disposition: :attachment), class: "icon-btn bg-white/20 hover:bg-white/40 text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "download")) %>
            <% end %>
            <%= link_to new_text_request_path(signed_blob_id:  mask_request.rotated_view.blob.signed_id), class: "icon-btn bg-accent/90 hover:bg-accent text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "pencil")) %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if mask_request.drone_view.attached? %>
        <div
          class="
            group relative overflow-hidden rounded-lg shadow-xl
            transition-all duration-300 transform hover:-translate-y-1 hover:shadow-2xl
          "
        >
          <%= image_tag(mask_request.drone_view.variant(resize_to_limit: [500, 500]), loading: :lazy, class: "w-full max-h-[400px] object-cover transition-transform duration-500 group-hover:scale-[1.02]") %>
          <div
            class="
              absolute inset-0 bg-gradient-to-t from-black/80 via-transparent
              to-transparent
            "
          ></div>

          <div class="absolute bottom-3 left-4 right-4 text-white">
            <p class="text-sm font-medium opacity-80">Drone Shot</p>
          </div>

          <div class="absolute bottom-3 right-4 z-10 flex space-x-2">
            <%= link_to rails_blob_path(mask_request.drone_view, disposition: :attachment), class: "icon-btn bg-white/20 hover:bg-white/40 text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "download")) %>
            <% end %>
            <%= link_to new_text_request_path(signed_blob_id:  mask_request.drone_view.blob.signed_id), class: "icon-btn bg-accent/90 hover:bg-accent text-white" do %>
              <%= render(IconComponent.new(classes: "h-5 w-5", name: "pencil")) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <% end %>
<% end %>
