<% if @href.present? %>
  <!-- Render as link -->
  <a href="<%= @href %>" data-turbo-frame="<%= @data[:turbo_frame] %>"
    class="<%= @classes %>">
      <% if @svg %>
        <%= render(IconComponent.new(name: @svg, classes: @svg_classes)) %>
    <% end %>
    <!-- Button Text -->
    <span>
      <%= @text %>
    </span>
  </a>
<% else %>
  <!-- Render as button -->
  <button type="<%= @type %>"
    class="<%= @classes %>">
    <% if @svg %>
        <%= render(IconComponent.new(name: @svg, classes: @svg_classes)) %>
    <% end %>
    <!-- Button Text -->
    <span>
      <%= @text %>
    </span>
  </button>
<% end %>
