<% if @href.present? %>
  <!-- Render as link -->
  <%= link_to @href, @html_options.merge(class: @classes, data: @data) do %>
    <% if @svg %>
      <%= render(IconComponent.new(name: @svg, classes: @svg_classes)) %>
    <% end %>
    <!-- Button Text -->
    <span><%= @text %></span>
  <% end %>
<% else %>
  <!-- Render as button -->
  <button
    type="<%= @type %>"
    class="<%= @classes %>"
    <%= @data.map { |key, value| "data-#{key}=\"#{value}\"" }.join(' ') %>
  >
    <% if @svg %>
      <%= render(IconComponent.new(name: @svg, classes: @svg_classes)) %>
    <% end %>
    <!-- Button Text -->
    <span><%= @text %></span>
  </button>
<% end %>
