<div id="<%= dom_id issue %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= issue.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= issue.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= issue.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= issue.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Progress:</strong>
    <%= issue.progress %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery date:</strong>
    <%= issue.delivery_date %>
  </div>
</div>
