<nav
  class="px-4 shadow-md bg-accent-secondary <%= 'sticky top-0 z-50' unless user_signed_in? %>"
  data-controller="navbar"
>
  <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center">
    <div class="w-full lg:w-auto flex items-center mb-0 lg:mb-0 relative">
      <div class="flex-shrink-0">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag "hadaa.png", alt: "Hadaa", class:"h-22 w-22 rounded-full mr-2" %>
        <% end %>
      </div>

      <%# # Mobile link button %>
      <div
        class="lg:hidden <%= user_signed_in? ? 'absolute left-1/2 -translate-x-1/2' : 'ml-auto' %>"
        data-action="click->navbar#toggleMenu"
      >
        <%= render ButtonComponent.new(
                  text: "",
                  classes: "bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
                  svg: 'list',
                  svg_classes: "bg-transparent h-6 w-6 text-neutral-900",
                  ) %>
      </div>

      <%# # For logged in users %>
      <% if user_signed_in? %>
        <%# # Desktop link button %>
        <div class="ml-auto lg:hidden">
          <div data-controller="dropdown" class="relative">
            <button
              data-action="dropdown#toggle"
              class="
                bg-neutral-900 h-12 w-12 rounded-full flex items-center
                justify-center text-accent ring-2 ring-accent hover:ring-white
                transition duration-200 focus:outline-none focus:ring-4 focus:ring-accent-secondary cursor-pointer
              "
            >
              <span class="font-bold text-lg"><%= current_user.email[..1].upcase %></span>
            </button>

            <div
              data-dropdown-target="menu"
              data-dropdown-hidden-class="hidden"
              class="
                hidden absolute right-0 mt-2 w-72 bg-white
                rounded-xl shadow-none lg:shadow-2xl p-2 z-50 ring-1 ring-black/5
              "
            >
              <%= link_to credits_path, class: active_link_class(credits_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Credits Balance</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage your credits
                </div>
              <% end %>

              <%= link_to favorites_path, class: active_link_class(favorites_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Favorites</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Quickly Access your favorite projects.
                </div>
              <% end %>


              <div class="border-t border-gray-200 my-2"></div>

              <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-3 text-sm text-red-600 rounded-lg transition duration-150 hover:bg-red-50 group", data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Log Out</div>
                <div class="text-xs text-red-400 group-hover:text-red-600">
                  Sign out of your account
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div
      id="navigation-links"
      data-navbar-target="navigationLinks"
      class="
        lg:pr-4 flex justify-center lg:justify-end hidden lg:flex flex-col
        lg:flex-row max-lg:w-full items-center space-y-2 lg:space-y-0
        lg:space-x-4 lg:flex-1
      "
    >
      <% if user_signed_in? %>
          <%= render ButtonComponent.new(
          text: "Manage Credits",
          href: credits_path,
          classes: "#{active_item(credits_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
          data: { action: "click->navbar#toggleMenu" }
          ) %>
          <% if current_user.last_sign_in_device_type != "desktop" %>
            <%= render ButtonComponent.new(
            text: "New Design",
            href: new_canva_path,
            classes: "#{active_item(new_canva_path)}  gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
            data: { action: "click->navbar#toggleMenu" }
            ) %>
          <% end %>
        <%= link_to projects_path, class: "#{active_item(projects_path)} hidden lg:flex items-center gap-2 bg-gradient-to-r from-blue-600 to-purple-600 text-white hover:from-blue-500 hover:to-purple-500 px-5 py-2 rounded-full font-bold shadow-md hover:shadow-lg transition-all duration-300 hover:-translate-y-0.5 border border-white/20", data: { action: "click->navbar#toggleMenu" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
             <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813a3.75 3.75 0 002.576-2.576l.813-2.846A.75.75 0 019 4.5zM9 15a.75.75 0 01.721.544l.195.682a2.25 2.25 0 001.483 1.483l.682.195a.75.75 0 010 1.442l-.682.195a2.25 2.25 0 00-1.483 1.483l-.195.682a.75.75 0 01-1.442 0l-.195-.682a2.25 2.25 0 00-1.483-1.483l-.682-.195a.75.75 0 010-1.442l.682-.195a2.25 2.25 0 001.483-1.483l.195-.682A.75.75 0 019 15z" clip-rule="evenodd" />
          </svg>
          Project Studio
        <% end %>
        <% has_mask_requests = current_user.mask_requests.complete.exists? %>
        <% has_text_requests = current_user.text_requests.complete.exists? %>
        <%# Mobile: Always show Dashboard %>
        <% if current_user.last_sign_in_device_type != "desktop" %>
          <%= render ButtonComponent.new(
          text: "Dashboard",
          href: mask_requests_path,
          classes: "#{active_item(mask_requests_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
          data: { action: "click->navbar#toggleMenu" }
          ) %>
        <% end %>

        <%# Desktop: Legacy Tools Dropdown %>
        <% if current_user.last_sign_in_device_type == "desktop" && (has_mask_requests || has_text_requests) %>
          <div data-controller="dropdown" class="relative">
            <button
              data-action="dropdown#toggle"
              class="
                flex items-center gap-2 bg-transparent hover:bg-secondary
                focus:outline-none hover:bg-accent text-neutral-900
                hover:text-white p-0 rounded-md transition duration-150
                w-full lg:w-auto justify-center px-4 py-2
              "
            >
              <span class="font-bold">Legacy Tools</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </button>
            <div
              data-dropdown-target="menu"
              data-dropdown-hidden-class="hidden"
              class="
                hidden relative w-full lg:absolute lg:w-48 lg:left-auto
                lg:translate-x-0 mt-2 bg-white rounded-xl shadow-none lg:shadow-2xl p-2
                z-50 ring-1 ring-black/5 origin-top-right lg:right-0
              "
            >
              <% if has_text_requests %>
                <%= link_to text_requests_path, class: active_link_class(text_requests_path), data: { action: "click->dropdown#hide" } do %>
                  <div class="font-bold mb-0.5">Smart Fix</div>
                  <div class="text-xs text-gray-500 group-hover:text-accent/80">
                    Legacy Text Edits
                  </div>
                <% end %>
              <% end %>
              <% if has_mask_requests %>
                <%= link_to mask_requests_path, class: active_link_class(mask_requests_path), data: { action: "click->dropdown#hide" } do %>
                  <div class="font-bold mb-0.5">Dashboard</div>
                  <div class="text-xs text-gray-500 group-hover:text-accent/80">
                     Legacy Mask Edits
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if current_user.admin? %>
          <div data-controller="dropdown" class="relative">
            <button
              data-action="dropdown#toggle"
              class="
                flex items-center gap-4 bg-transparent hover:bg-secondary
                focus:outline-none hover:bg-accent text-neutral-900
                hover:text-white p-0 rounded-md transition duration-150
                w-full lg:w-auto justify-center
              "
            >
              <span class="font-bold">Admin</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </button>

            <div
              data-dropdown-target="menu"
              data-dropdown-hidden-class="hidden"
              class="
                hidden relative w-full lg:absolute lg:w-72 lg:left-auto
                lg:translate-x-0 mt-2 bg-white rounded-xl shadow-none lg:shadow-2xl p-2
                z-50 ring-1 ring-black/5 origin-top-right lg:right-0
              "
            >
              <%= link_to admin_mask_requests_path, class: active_link_class(admin_mask_requests_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Users/MaskEdits</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage mask requests
                </div>
              <% end %>

              <%= link_to admin_text_requests_path, class: active_link_class(admin_text_requests_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Users/TextEdits</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage text requests
                </div>
              <% end %>

              <%= link_to admin_public_assets_path, class: active_link_class(admin_public_assets_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Public Assets</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage Public Assets
                </div>
              <% end %>

              <%= link_to admin_projects_path, class: active_link_class(admin_projects_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Projects</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  User Projects & Results
                </div>
              <% end %>

              <%= link_to admin_social_posts_path, class: active_link_class(admin_social_posts_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Social Posts</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage Facebook Content
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div
          data-controller="dropdown"
          data-dropdown-hidden-class="hidden"
          class="relative hidden lg:block"
        >
          <button
            data-action="dropdown#toggle"
            class="
              bg-neutral-900 h-12 w-12 rounded-full flex items-center
              justify-center text-accent ring-2 ring-accent hover:ring-white
              transition duration-200 focus:outline-none focus:ring-4 focus:ring-accent-secondary cursor-pointer
            "
          >
            <span class="font-bold text-lg"><%= user.icon_letters %></span>
          </button>

          <div
            data-dropdown-target="menu"
            data-dropdown-hidden-class="hidden"
            class="
              hidden absolute right-0 mt-2 w-72 bg-white
              rounded-xl shadow-none lg:shadow-2xl p-2 z-50 ring-1 ring-black/5
            "
          >
            <%= link_to credits_path, class: active_link_class(credits_path), data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5">Credits Balance</div>
              <div class="text-xs text-gray-500 group-hover:text-accent/80">
                Manage your credits
              </div>
            <% end %>

            <%= link_to favorites_path, class: active_link_class(favorites_path), data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5 flex items-center gap-2">
                 <%= render(IconComponent.new(classes: "h-4 w-4 text-accent", name: "heart")) %>
                 Favorites
              </div>
              <div class="text-xs text-gray-500 group-hover:text-accent/80 pl-6">
                Quickly Access your favorite projects.
              </div>
            <% end %>


            <div class="border-t border-gray-200 my-2"></div>

            <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-3 text-sm text-red-600 rounded-lg transition duration-150 hover:bg-red-50 group", data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5">Log Out</div>
              <div class="text-xs text-red-400 group-hover:text-red-600">
                Sign out of your account
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
