<nav
  class="px-4 shadow-md bg-accent-secondary <%= 'sticky top-0 z-50' unless user_signed_in? %>"
  data-controller="navbar"
>
  <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center">
    <div class="w-full lg:w-auto flex items-center mb-0 lg:mb-0 relative">
      <div class="flex-shrink-0">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag "hadaa.png", alt: "Hadaa", class:"h-22 w-22 rounded-full mr-2" %>
        <% end %>
      </div>

      <%# # Mobile link button %>
      <div
        class="lg:hidden <%= user_signed_in? ? 'absolute left-1/2 -translate-x-1/2' : 'ml-auto' %>"
        data-action="click->navbar#toggleMenu"
      >
        <%= render ButtonComponent.new(
                  text: "",
                  classes: "bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
                  svg: 'list',
                  svg_classes: "bg-transparent h-6 w-6 text-neutral-900",
                  ) %>
      </div>

      <%# # For logged in users %>
      <% if user_signed_in? %>
        <%# # Desktop link button %>
        <div class="ml-auto lg:hidden">
          <div data-controller="dropdown" class="relative">
            <button
              data-action="dropdown#toggle"
              class="
                bg-neutral-900 h-12 w-12 rounded-full flex items-center
                justify-center text-accent ring-2 ring-accent hover:ring-white
                transition duration-200 focus:outline-none focus:ring-4 focus:ring-accent-secondary cursor-pointer
              "
            >
              <span class="font-bold text-lg"><%= current_user.email[..1].upcase %></span>
            </button>

            <div
              data-dropdown-target="menu"
              data-dropdown-hidden-class="hidden"
              class="
                hidden absolute right-0 mt-2 w-72 bg-white
                rounded-xl shadow-none lg:shadow-2xl p-2 z-50 ring-1 ring-black/5
              "
            >
              <%= link_to credits_path, class: active_link_class(credits_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Credits Balance</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage your credits
                </div>
              <% end %>

              <%= link_to favorites_path, class: active_link_class(favorites_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Favorites</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  View your saved designs
                </div>
              <% end %>


              <div class="border-t border-gray-200 my-2"></div>

              <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-3 text-sm text-red-600 rounded-lg transition duration-150 hover:bg-red-50 group", data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Log Out</div>
                <div class="text-xs text-red-400 group-hover:text-red-600">
                  Sign out of your account
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div
      id="navigation-links"
      data-navbar-target="navigationLinks"
      class="
        lg:pr-4 flex justify-center lg:justify-end hidden lg:flex flex-col
        lg:flex-row max-lg:w-full items-center space-y-2 lg:space-y-0
        lg:space-x-4 lg:flex-1
      "
    >
      <% if user_signed_in? %>
          <%= render ButtonComponent.new(
          text: "Buy Credits",
          href: credits_path,
          classes: "#{active_item(credits_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
          data: { action: "click->navbar#toggleMenu" }
          ) %>
          <%= render ButtonComponent.new(
          text: "New Design",
          href: new_canva_path,
          classes: "#{active_item(new_canva_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
          data: { action: "click->navbar#toggleMenu" }
          ) %>
        <%= render ButtonComponent.new(
        text: "Dashboard",
        href: mask_requests_path,
        classes: "#{active_item(mask_requests_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
        data: { action: "click->navbar#toggleMenu" }
        ) %>
        <% if current_user.mask_requests.complete.exists? %>
          <%= render ButtonComponent.new(
            text: "Smart Fix",
            href: text_requests_path,
            classes: "#{active_item(text_requests_path)} gap-4 bg-transparent hover:bg-secondary focus:outline-none hover:bg-accent text-neutral-900 hover:text-white p-0",
            data: { action: "click->navbar#toggleMenu" }
          ) %>
        <% end %>
        <% if current_user.admin? %>
          <div data-controller="dropdown" class="relative">
            <button
              data-action="dropdown#toggle"
              class="
                flex items-center gap-4 bg-transparent hover:bg-secondary
                focus:outline-none hover:bg-accent text-neutral-900
                hover:text-white p-0 rounded-md transition duration-150
                w-full lg:w-auto justify-center
              "
            >
              <span class="font-bold">Admin</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </button>

            <div
              data-dropdown-target="menu"
              data-dropdown-hidden-class="hidden"
              class="
                hidden relative w-full lg:absolute lg:w-72 lg:left-auto
                lg:translate-x-0 mt-2 bg-white rounded-xl shadow-none lg:shadow-2xl p-2
                z-50 ring-1 ring-black/5 origin-top-right lg:right-0
              "
            >
              <%= link_to admin_mask_requests_path, class: active_link_class(admin_mask_requests_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Users/MaskEdits</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage mask requests
                </div>
              <% end %>

              <%= link_to admin_text_requests_path, class: active_link_class(admin_text_requests_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Users/TextEdits</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage text requests
                </div>
              <% end %>

              <%= link_to admin_sketch_requests_path, class: active_link_class(admin_sketch_requests_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Users/Sketches</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage sketch requests
                </div>
              <% end %>

              <%= link_to admin_blogs_path, class: active_link_class(admin_blogs_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Blogs</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage blog posts
                </div>
              <% end %>

              <%= link_to admin_public_assets_path, class: active_link_class(admin_public_assets_path), data: { action: "click->dropdown#hide" } do %>
                <div class="font-bold mb-0.5">Public Assets</div>
                <div class="text-xs text-gray-500 group-hover:text-accent/80">
                  Manage Public Assets
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div
          data-controller="dropdown"
          data-dropdown-hidden-class="hidden"
          class="relative hidden lg:block"
        >
          <button
            data-action="dropdown#toggle"
            class="
              bg-neutral-900 h-12 w-12 rounded-full flex items-center
              justify-center text-accent ring-2 ring-accent hover:ring-white
              transition duration-200 focus:outline-none focus:ring-4 focus:ring-accent-secondary cursor-pointer
            "
          >
            <span class="font-bold text-lg"><%= current_user.email[..1].upcase %></span>
          </button>

          <div
            data-dropdown-target="menu"
            data-dropdown-hidden-class="hidden"
            class="
              hidden absolute right-0 mt-2 w-72 bg-white
              rounded-xl shadow-none lg:shadow-2xl p-2 z-50 ring-1 ring-black/5
            "
          >
            <%= link_to credits_path, class: active_link_class(credits_path), data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5">Credits Balance</div>
              <div class="text-xs text-gray-500 group-hover:text-accent/80">
                Manage your credits
              </div>
            <% end %>

            <%= link_to favorites_path, class: active_link_class(favorites_path), data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5">Favorites</div>
              <div class="text-xs text-gray-500 group-hover:text-accent/80">
                View your saved designs
              </div>
            <% end %>


            <div class="border-t border-gray-200 my-2"></div>

            <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left block px-4 py-3 text-sm text-red-600 rounded-lg transition duration-150 hover:bg-red-50 group", data: { action: "click->dropdown#hide" } do %>
              <div class="font-bold mb-0.5">Log Out</div>
              <div class="text-xs text-red-400 group-hover:text-red-600">
                Sign out of your account
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
