<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 my-6 p-3">
  <div class="relative rounded-lg shadow-lg overflow-hidden group hover:opacity-95 bg-black">
    <%# The background image fills the entire container, with a hover effect. %>
    <%= link_to landscape_path(landscape), class: "block w-full h-full" do %>
      <%= image_tag landscape.display_cover.variant(resize_to_limit: [400, 400]), class: "w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110", loading: :lazy %>
    <% end %>
    <%# Absolute Top Content: Title and Date %>
    <div class="absolute top-0 left-0 right-0 p-4 bg-gradient-to-b from-black/50 to-transparent text-white">
      <h4 class="text-lg font-bold">
        <%= landscape.landscape_requests.count %> Generations
      </h4>
      <p class="text-sm opacity-90">
        Done <%= time_ago_in_words(landscape.created_at) %> ago
      </p>
    </div>
    <%# Absolute Bottom Content: Show button and Icons %>
    <div class="absolute bottom-0 left-0 right-0 p-4 flex justify-between items-center bg-gradient-to-t from-black/50 to-transparent">
      <%# Show button %>
      <%= link_to "Show", landscape_path(landscape), class: "text-black px-4 py-2 rounded-full text-sm font-semibold transition-colors duration-300
      bg-secondary text-text-light transition duration-300 ease-in-out transform hover:bg-accent group-hover:opacity-100" %>
    </div>
  </div>
</div>
