<div class="min-h-screen bg-neutral-100 flex items-center justify-center p-4">
  <div
    class="
      bg-accent-secondary p-8 rounded-2xl shadow-2xl max-w-lg w-full transform
      transition-transform duration-300 hover:scale-[1.02] border-4 border-secondary
    "
  >
    <div class="flex flex-col items-center text-center mb-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-16 w-16 text-primary mb-4"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
        />
      </svg>

      <h2 class="text-3xl font-extrabold text-neutral-900 mb-2">
        Running Low on Credits
      </h2>

      <p class="text-lg text-neutral-700">
        You're about to run out of Pro Credits. Top up now to avoid
        interruptions!
      </p>
    </div>

    <div class="bg-accent-secondary text-neutral-900 rounded-2xl p-0">
      <hr class="border-t border-neutral-300 my-8">

      <div class="flex items-center space-x-4 mb-4">
        <%= render(IconComponent.new(name: "sparkles", classes: "h-8 w-8 text-secondary animate-pulse")) %>
        <h3 class="text-2xl font-bold text-secondary">
          Unlock More with Pro Credits
        </h3>
      </div>

      <p class="text-lg text-green-700 mt-1 font-bold my-3">
        <b><%= CREDITS_INFO %></b>
      </p>

      <p class="mb-6 text-neutral-700">
        Go beyond the basics and unlock the full potential of our platform. Pro
        Credits give you access to our premium features.
      </p>

      <ul class="space-y-4 mb-8">
        <li class="flex items-start space-x-3">
          <%= render(IconComponent.new(name: "check", classes: "h-6 w-6 text-accent flex-shrink-0 mt-0.5")) %>
          <span class="font-semibold text-neutral-900">More realistic and accurate generations</span>
        </li>
        <li class="flex items-start space-x-3">
          <%= render(IconComponent.new(name: "check", classes: "h-6 w-6 text-accent flex-shrink-0 mt-0.5")) %>
          <span class="font-semibold text-neutral-900">Design with <b>local plants</b> available in your area.</span>
        </li>
        <li class="flex items-start space-x-3">
          <%= render(IconComponent.new(name: "check", classes: "h-6 w-6 text-accent flex-shrink-0 mt-0.5")) %>
          <span class="font-semibold text-neutral-900">
            Generate <b>comprehensive shopping lists</b> for your materials.
          </span>
        </li>
        <li class="flex items-start space-x-3">
          <%= render(IconComponent.new(name: "check", classes: "h-6 w-6 text-accent flex-shrink-0 mt-0.5")) %>
          <span class="font-semibold text-neutral-900">Get planting and maintenance guides for your final design.</span>
        </li>
      </ul>

      <div class="bg-gray-100 p-4 rounded-lg mb-8 border border-gray-300">
        <div class="flex items-start space-x-3">
          <span class="text-xl pt-0.5 text-secondary">🛡️</span>
          <div class="mb-6">
            <h4 class="text-sm font-bold text-neutral-900 mb-1 uppercase">
              Secure & Trusted Payment
            </h4>
            <p class="text-neutral-700 text-sm">
              Your payment is secure.
              <b>Paystack, a Stripe Company</b>
              , uses bank-grade
              <b>PCI DSS standards</b>
              , ensuring we
              <b>never store</b>
              your credit card details.
            </p>
          </div>
        </div>
        <div class="flex w-full justify-center">
          <%= button_to "Top Up Credits", payment_transactions_path, data: {turbo: false}, method: :post, class: "m-auto cursor-pointer inline-block bg-secondary text-neutral-100 font-bold py-3 px-8 rounded-full shadow-xl transition-all duration-300 transform hover:scale-[1.03] hover:bg-cta-bg ring-4 ring-secondary/50" %>
        </div>
      </div>
    </div>
  </div>
</div>
