<div id="<%= dom_id feature %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= feature.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= feature.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Progress:</strong>
    <%= feature.progress %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery date:</strong>
    <%= feature.delivery_date %>
  </div>
</div>
