<% content_for(:title, "Free AI Landscaping Design Tool | Generate Realistic Garden Images - Hadaa Ai ") %>
<% content_for(:description, "Unleash your creativity with Hadaa Ai , the FREE online tool that generates stunning, rich, and lifelike landscaping images from your ideas. Design your dream garden, visualize outdoor spaces, and create beautiful, accurate landscape designs instantly.") %>
<% content_for(:keywords, "free landscaping tool, AI landscaping design, generate garden images, realistic landscape design, online landscaping tool, visualize outdoor spaces, garden planner, landscape creator, AI garden generator, lifelike landscaping, accurate landscaping images, custom landscape design, Hadaa Ai ") %>

<%# Open Graph (Social Media Sharing) %>
<% content_for(:og_title, "Hadaa Ai  | Free AI Tool for Realistic Landscaping Images") %>
<% content_for(:og_description, "Transform your landscaping visions into reality with Hadaa Ai ! Generate beautiful, accurate, and lifelike garden designs for free. Perfect for homeowners, designers, and enthusiasts.") %>
<% content_for(:og_image_alt, "Screenshot of Hadaa Ai  generating a beautiful, realistic garden image") %>

<%# Twitter Card (Social Media Sharing) %>
<% content_for(:twitter_title, "Design Your Dream Garden FREE | Hadaa Ai ") %>
<% content_for(:twitter_description, "Get instant, lifelike landscaping images with Hadaa Ai , your free AI-powered garden design tool. Visualize outdoor spaces with rich, accurate detail.") %>
<% content_for(:twitter_image_alt, "Vibrant AI-generated landscaping image created by Hadaa Ai ") %>

<%= content_for(:schema_name, "Hadaa Ai  - Free AI Landscaping Image Generator") %>
<%= content_for(:schema_description, "Use Hadaa Ai  to generate stunningly realistic, rich, and accurate landscaping images for free. Design and visualize your perfect outdoor spaces with advanced AI technology.") %>
<%= content_for(:main_classes, "container mx-auto px-5 flex max-w-[1200px] text-neutral-800 mt-10") %>

<%= turbo_stream_from dom_id(@landscape_request) %>

<%= render '/shared/balances' %>

<%= turbo_frame_tag "edit_landscape" do %>
  <div data-controller="landscape-editor"
    data-landscape-editor-original-image-url-value="<%= @landscape.original_responsive_image.attached? ? url_for(@landscape.original_responsive_image) : '' %>"
    data-landscape-editor-landscape-id-value="<%= @landscape.id %>"
    data-landscape-editor-landscape-request-id-value="<%= @landscape_request.id %>"
    data-editor-display-image-width-value="<%= @landscape.original_responsive_image.metadata['width'] %>"
    data-editor-display-image-height-value="<%= @landscape.original_responsive_image.metadata['height'] %>"
    data-editor-landscape-id-value="<%= @landscape.id %>"
    class="bg-neutral-100 border border-neutral-200 flex flex-col  justify-center p-4 max-md:px-0 sm:p-6 lg:p-8 w-full rounded-lg">

    <h1 class="text-4xl font-bold text-center text-text-primary my-4"><%= t("landscape.title") %></h1>

    <%= render 'tips' %>

    <%= link_to 'View Results', landscape_path(@landscape), data: {turbo: false}, class: 'cute-btn secondary-btn max-w-[300px] flex m-auto' if @landscape.modified_images.present?  %>
    <div data-landscape-editor-target="editorSection" class="w-full max-w-full lg:max-w-6xl bg-white shadow-xl rounded-lg flex flex-col lg:flex-row p-4 max-md:px-0 mt-8">
      <div
        data-controller="konva-canvas"
        data-konva-canvas-target="canvasContainer"
        data-landscape-editor-target="konvaCanvasWrapper"
        data-konva-canvas-image-url-value="<%= @landscape.original_responsive_image.attached? ? url_for(@landscape.original_responsive_image) : '' %>"
        data-konva-canvas-display-width-value="<%= @canvas[:width]%>"
        data-konva-canvas-display-height-value="<%= @canvas[:height] %>"
        data-konva-canvas-brush-size-value="40"
        class="bg-neutral-100 flex text-black items-center justify-center relative overflow-hidden rounded-md"
      >
      </div>
      <div class="lg:w-1/4 w-full p-4 flex flex-col space-y-4 lg:space-y-6">
        <div class="flex flex-wrap justify-center sm:justify-start gap-2 border-b border-neutral-300 pb-4 ">
          <button data-action="click->landscape-editor#undoPaintAction" data-landscape-editor-target="undoButton"
          class="p-2 rounded-md text-sm text-neutral-700 hover:bg-neutral-300 transition-colors duration-200" title="Undo Last Action">
                      <%= render(IconComponent.new(name: "arrow-counter-clockwise", classes: "flex items-center justify-center text-neutral-100 cursor-pointer h-6 w-6")) %>
          </button>

          <button
          data-action="click->landscape-editor#redoPaintAction"
          data-landscape-editor-target="redoButton"
          class="p-2 rounded-md text-sm text-neutral-700 hover:bg-neutral-300 transition-colors duration-200"
          title="Redo Last Undo">
              <%= render(IconComponent.new(name: "arrow-clockwise", classes: "flex items-center justify-center text-neutral-100 cursor-pointer h-6 w-6")) %>
          </button>

          <button data-action="click->landscape-editor#selectRectTool" class="p-2 rounded-md text-neutral-700 hover:bg-primary hover:text-text-light transition-colors duration-200" title="Rectangle Select">
            <%= render(IconComponent.new(name: "rectangle-dashed", classes: "flex items-center justify-center text-neutral-100 cursor-pointer h-6 w-6")) %>
          </button>

          <button
            data-action="click->landscape-editor#clearSelection"
            class="p-2 rounded-md text-neutral-700 hover:bg-primary hover:text-text-light transition-colors duration-200"
            title="Clear Selection">
            <%= render(IconComponent.new(name: "x-circle", classes: "text-neutral-900 flex items-center justify-center text-neutral-100 cursor-pointer h-6 w-6")) %>
          </button>

        </div>

        <div data-landscape-editor-target="brushSizeControl">
          <label for="brush-size" class="block text-sm font-medium text-neutral-700 mb-2">Brush Size</label>
          <div class="flex items-center space-x-3">
            <span class="text-sm text-neutral-600">small</span>
            <input type="range" id="brush-size" min="20" max="100" value="40" data-action="input->landscape-editor#updateBrushSize" class="w-full h-2 bg-neutral-300 rounded-lg appearance-none cursor-pointer accent-primary">
            <span data-landscape-editor-target="brushSizeDisplay" class="text-xs font-semibold  text-text-secondary">40px</span>
            <span class="text-sm text-neutral-600">Large</span>
          </div>
        </div>

        <div class="mb-4">
          <label for="landscape-preset" class="block text-sm font-medium text-neutral-700 mb-1">Landscape Style</label>
          <select id="landscape-preset" data-landscape-editor-target="selectPreset" class="w-full p-2 border border-neutral-300 rounded-md focus:ring-primary focus:border-primary text-text-dark text-sm">
            <% LANDSCAPE_PRESETS.each do |preset, description| %>
             <option value="<%= preset %>"><%= preset.humanize %> - <%= description %></option>
             <% end %>
          </select>
        </div>

        <%#= render 'location', landscape: @landscape_request %>


        <%= form_with(url: landscapes_path, method: :patch, html: { data: { action: "submit->landscape-editor#submitModification", landscape_editor_target: "form" } }) do |form| %>
          <%= form.hidden_field :mask_image_data, data: { landscape_editor_target: "maskImageDataInput" } %>
          <%= form.hidden_field :preset, data: { landscape_editor_target: "presetInput" } %>
          <%= form.hidden_field :id, value: @landscape.id, data: { landscape_editor_target: "landscapeIdInput" } %>

          <button type="submit"
          data-landscape-editor-target="submitBtn"
                  class="cute-btn accent-btn">
            Generate Landscape
          </button>
        <% end %>

        <button data-action="click->landscape-editor#cancelEdit"
                class="w-full bg-neutral-300 text-neutral-800 py-3 rounded-md hover:bg-neutral-500 transition-colors duration-200 font-bold text-lg cursor-pointer">
          Cancel
        </button>
      </div>
    </div>
    <%= render partial: 'loader', locals: {landscape_request: @landscape_request} %>

    <%# Result Section (Simplified for redirect message) %>
    <div data-landscape-editor-target="resultSection" class="hidden w-full max-w-full lg:max-w-6xl bg-white shadow-xl rounded-lg p-6 sm:p-8 mt-8">
      <h2 class="text-2xl sm:text-3xl font-bold text-text-dark mb-6 text-center">Processing Complete!</h2>
      <p class="text-lg text-center text-neutral-700">Redirecting you to view your new landscape designs...</p>
      <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4 mt-8">
        <button data-action="click->landscape-editor#startNewDesign"
                class="bg-neutral-300 text-neutral-800 py-3 px-6 rounded-md hover:bg-neutral-500 transition-colors duration-200 font-bold text-lg">
          Start New Design
        </button>
      </div>
    </div>
  </div>
<% end %>

<%= render '/landscapes/instructions' %>
