<!DOCTYPE html>

<html>
  <head>
    <title>
      <%= content_for?(:title)? yield(:title) : "AI Landscape Design Generator FREE – Editor, Drone View, No Card Required" %>
    </title>

    <meta name="language" content="en">

    <meta
      name="description"
      content="<%= content_for?(:description)? yield(:description) : "Transform your yard instantly with Hadaa's advanced AI tool. Use the Brush Designer & intelligent Prompt Editor for precision editing, get local plant recommendations, and generate shopping lists. Free trial, no credit card required." %>"
    >

    <meta
      property="og:title"
      content="<%= content_for?(:title)? yield(:title) : "Hadaa: AI Landscape Design Generator FREE – No Card Required" %>"
    />

    <meta property="og:type" content="website" />

    <meta
      property="og:url"
      content="<%= request.original_url.split('?').first %>"
    />

    <meta property="og:image" content="<%= asset_path("social_preview.jpg") %>" />
    <meta property="twitter:image" content="<%= asset_path("social_preview.jpg") %>" />

    <meta
      property="og:description"
      content="<%= content_for?(:description)? yield(:description) : "Hadaa offers precision AI landscape design with a Brush Tool and Prompt Editor. Generate 3D drone views, local plant suggestions, and shopping lists. Start FREE today." %>"
    />

    <%# Twitter Card (for Twitter/X) %>
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:site" content="@hadaa_app" />

    <%# Update with your actual Twitter handle %>
    <meta name="twitter:creator" content="@hadaa_app" />

    <%# Update with your actual Twitter handle %>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= asset_path("favicon/favicon-32x32.png") %>"
    >

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= asset_path("favicon/favicon-16x16.png") %>"
    >

    <meta name="msapplication-TileColor" content="#da532c">

    <%# For Windows tiles %>
    <meta name="theme-color" content="#ffffff">

    <%# <% For browser UI on Android/Chrome %>
    <link rel="shortcut icon" href="<%= asset_path("favicon/favicon.ico") %>">

    <%# Fallback for older browsers, often a multi-res ICO %>
    <%# Dynamic Schema Markup %>
    <% if content_for?(:schema_markup) %>
      <%= yield :schema_markup %>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%# = tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ESX8FF1NG8"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ESX8FF1NG8');
    </script>

    <script src="https://unpkg.com/konva@9/konva.min.js"></script>

    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <script>
window['_fs_host'] = 'fullstory.com';
window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
window['_fs_org'] = 'o-247C5A-na1';
window['_fs_namespace'] = 'FS';
!function(m,n,e,t,l,o,g,y){var s,f,a=function(h){
return!(h in m)||(m.console&&m.console.log&&m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'),!1)}(e)
;function p(b){var h,d=[];function j(){h&&(d.forEach((function(b){var d;try{d=b[h[0]]&&b[h[0]](h[1])}catch(h){return void(b[3]&&b[3](h))}
d&&d.then?d.then(b[2],b[3]):b[2]&&b[2](d)})),d.length=0)}function r(b){return function(d){h||(h=[b,d],j())}}return b(r(0),r(1)),{
then:function(b,h){return p((function(r,i){d.push([b,h,r,i]),j()}))}}}a&&(g=m[e]=function(){var b=function(b,d,j,r){function i(i,c){
h(b,d,j,i,c,r)}r=r||2;var c,u=/Async$/;return u.test(b)?(b=b.replace(u,""),"function"==typeof Promise?new Promise(i):p(i)):h(b,d,j,c,c,r)}
;function h(h,d,j,r,i,c){return b._api?b._api(h,d,j,r,i,c):(b.q&&b.q.push([h,d,j,r,i,c]),null)}return b.q=[],b}(),y=function(b){function h(h){
"function"==typeof h[4]&&h[4](new Error(b))}var d=g.q;if(d){for(var j=0;j<d.length;j++)h(d[j]);d.length=0,d.push=h}},function(){
(o=n.createElement(t)).async=!0,o.crossOrigin="anonymous",o.src="https://"+l,o.onerror=function(){y("Error loading "+l)}
;var b=n.getElementsByTagName(t)[0];b&&b.parentNode?b.parentNode.insertBefore(o,b):n.head.appendChild(o)}(),function(){function b(){}
function h(b,h,d){g(b,h,d,1)}function d(b,d,j){h("setProperties",{type:b,properties:d},j)}function j(b,h){d("user",b,h)}function r(b,h,d){j({
uid:b},d),h&&j(h,d)}g.identify=r,g.setUserVars=j,g.identifyAccount=b,g.clearUserCookie=b,g.setVars=d,g.event=function(b,d,j){h("trackEvent",{
name:b,properties:d},j)},g.anonymize=function(){r(!1)},g.shutdown=function(){h("shutdown")},g.restart=function(){h("restart")},
g.log=function(b,d){h("log",{level:b,msg:d})},g.consent=function(b){h("setIdentity",{consent:!arguments.length||b})}}(),s="fetch",
f="XMLHttpRequest",g._w={},g._w[f]=m[f],g._w[s]=m[s],m[s]&&(m[s]=function(){return g._w[s].apply(this,arguments)}),g._v="2.0.0")
}(window,document,window._fs_namespace,"script",window._fs_script);
</script>

    <% if user_signed_in? %>
      <script>
        FS('setIdentity', {
          uid: '<%= current_user.id %>',
          properties: {
            displayName: '<%= current_user.user_name || current_user.name || current_user.email %>',
            email: '<%= current_user.email %>'
          }
        });
      </script>
    <% end %>
  </head>

  <body
    data-controller="loader <%= user_signed_in? ? 'onboarding' : '' %>"
    data-onboarding-stage-value="<%= current_user.onboarding_stage if user_signed_in? %>"
    data-onboarding-complete-request-count-value="<%= current_user.text_requests.complete.count if user_signed_in? %>"
    data-onboarding-current-request-progress-value="<%= (@current_request || @text_request || @mask_request)&.progress if user_signed_in? %>"
  >
    <% show_loader = defined?(@mask_request) && @mask_request&.processing? %>
    <%= render partial: "layouts/shared/loader", locals: { record: (show_loader ? @mask_request : nil), klasses: "#{show_loader ? '' : 'hidden'} fixed" } %>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flash" %>
    <% if user_signed_in? %>
      <%= render "shared/onboarding_modal" %>
      <%= render "shared/voucher_modal" %>
    <% end %>

    <main class="<%= content_for(:main_classes) %>">
      <div class="w-full m-auto block"><%= yield %></div>
    </main>
  </body>
</html>
